.section {
  margin: 0 7%;
}

.user-balance {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 4rem;
}

.how-does-it-work--section {
  margin-bottom: 6rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media(min-width: 65.25em) {
  .section {
    margin-left: 14%;
    margin-right: 14%;
  }
  .navbar {
    margin: 0 4%;
  }
  .user-balance {
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    flex-wrap: wrap;
  }
}
