button {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
}
.how-does-it-work--steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax());
  gap: 2rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
}

footer {
  margin-bottom: 3.5rem;
}
