@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #800080;
  --primary-color--not-focused: #80008025;
  --primary-color-opacity25: #80008025;
  --gradient: linear-gradient(to left, #800080, #ff864c);
  --scroll-bar-color: #eeaeae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
    font-size: 59.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

@media (min-width: 25em) {
  html {
    font-size: 62.5%;

  }
}